{% extends 'order/base.html' %}

{% block content %}

<div class="container text-center">
  <div class="row align-items-start">

    <div class="col">
      <form method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Товар</label>
              <input name="product" type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <p></p>
          <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-success" type="submit">Добавить товар</button>
          </div>
      </form>
    </div>

    <div class="col">
      <form method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label for="exampleFormControlInput2" class="form-label">Клиент</label>
              <input name="client" type="text" class="form-control" id="exampleFormControlInput2">
              <p></p>
              <select name="drive" class="form-select" aria-label="Default select example">
                  {% for d in drivers %}
                    <option value="{{ d.driver }}">{{ d.driver }}</option>
                  {% endfor %}
                </select>
          </div>
          <p></p>
          <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-success" type="submit">Добавить клиента</button>
          </div>
      </form>
    </div>

    <div class="col">
      <form method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label for="exampleFormControlInput3" class="form-label">Водитель</label>
              <input name="driver" type="text" class="form-control" id="exampleFormControlInput3">
          </div>
          <p></p>
          <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-success" type="submit">Добавить водителя</button>
          </div>
      </form>
    </div>

  </div>
</div>

{% endblock %}